{{ define "layouts/_head.html" }}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="Keywords" content="{{ .public.SiteInfo.Keyword }}" />
    <meta name="description" content="{{ .public.SiteInfo.Description }}" />

    <title> {{ .public.SiteInfo.Title }}{{if .article.ArticleName}} _{{.article.ArticleName}} {{end }}</title>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/static/css/app.css">

{{ end }}